*{
    margin: 0;
    padding: 0;
    font-family: "Circular std Book";
}


header#hd-p{
    background-color: var(--header);
    width: 100%;
}

header#hd-p nav{
    display: flex;
    flex-direction: column;
    padding: 55px 55px 0 40px;
}

header#hd-p nav div#logo-busque{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header#hd-p nav div#logo-busque input{
    display: flex;
    border-radius: 10px;
    border: 1px solid gray;
    width: 650px;
    height: 55px;
    font-size: 16px;
}

header#hd-p nav div#navbar ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: auto;
    width: 80%;
}

/* header#hd-p nav div#navbar ul li{
    text-align: center;
} */

header#hd-p nav div#navbar ul li a{
    display: flex;
    align-items: center;

    padding: 15px;

    height: 50px;

    text-decoration: none;
    color: black;
    font-weight: bold;
}

main#sist{
    width: 800px;
    margin: auto auto;
}

main img[src^="assets/img/cachorro"]{
    width: 100%;
    border-radius: 20px;
    margin: 30px 0;
}

main header#ini{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main header#ini p#locsite{
    font-size: 14px;
    font-weight: bold;
    margin: 45px 0;
    color: var(--cor1);
    word-spacing: 10px;
}

main header#ini p#locsite a{
    color: black;
    text-decoration: none;
}

main header#ini p.bem-estar{
    font-size: 13px;
    font-weight: bold;
    padding: 3px 15px;
    border: 2px solid black;
    border-radius: 50px;
}

main header#ini h1{
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
}

main header#ini div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

main header#ini div p{
    color: var(--cor1);
    padding: 5px;
}

main header#ini div p.data-pub{
    font-weight: bold;
}

main header#ini div p.tempo-leit{
    font-size: 15px;
}

main section{
    line-height: 30px;
    font-size: 18px;
    margin: 100px 0;
}

main section h2{
    padding: 45px 0;
}

main section p{
    margin: 15px 0;
}

section#petz-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
}

section#petz-cont div.p-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 15px;
    width: 50%;
}

section#petz-cont img{
    width: 20px;
}

section#petz-cont div#cop-red{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;

}

section#petz-cont div#cop-red button{
    font-family: "Circular std Bold";
    border: 2px solid gray;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}


section#comentario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header);
    border-radius: 15px;
    padding: 45px 0px;
}

section#comentario h3{
    text-align: left;
}

section#comentario input#coment{
    width: 450px;
    margin: 30px;
    padding: 15px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid gray;
}

section#comentario div input{
    width: 200px;
    padding: 15px;
    margin: 0px 5px;
    border-radius: 10px;
    border: 1px solid gray;
}


section#comentario div.salvar-dados{
    display: flex;
    font-size: 15px;
    margin: 10px 0;
}

section#comentario div.salvar-dados input{
    width: 15px;
}

section#comentario button{
    background-color: white;
    width: 480px;
    padding: 10px 10px;
    background-color: rgb(236, 234, 234);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

section#comentario button img{
    width: 15px;
}

section#mais-no-blog{
    width: 90%;
    margin: auto;
}

section#mais-no-blog div#caixas-mais{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#mais-no-blog div.caixa{
    position: absolute;
    border: 1px solid #D5D5D5;
    width: 350px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    font-size: 16px;
    padding: 0 20px;
    margin: 0 20px;
    /* box-shadow: 1px 1px 1px gray; */
}

section#mais-no-blog div.caixa img{
    position: relative;
    width: 450px;
    border-radius: 50%;
    top: -130px;
    left: -50px;
    margin-bottom: 10px;
}

section#mais-no-blog div.tex{
    position: relative;
    bottom: 120px;
}

section#mais-no-blog div.tags{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

section#mais-no-blog p.tag{
    font-size: 13px;
    padding: 0px 15px;
    margin: 0 5px;
    border: 1px solid;
    border-radius: 50px; 
}

section#mais-no-blog p.dicas{
    border: 2px solid;
}

section#mais-no-blog p.plantas{
    border: none;
    background-color: var(--tagplanta);
}

section#mais-no-blog p.aves{
    border: none;
    background-color: var(--tagaves);
}

section#mais-no-blog div.pitaya{
    position: relative;
    left: 0%;
}


section#mais-no-blog div.pleomele{
    position: relative;
    left: 0%;
}

section#mais-no-blog div.papagaio{
    position: relative;
    left: 0%;
}

section#mais-no-blog h3{
    font-weight: bold;
    font-size: 23px;
}

section#mais-no-blog p.descricao{
    font-size: 14px;
    color: var(--cor1);
}

section#mais-no-blog p.data{
    font-size: 14px;
    font-weight: bold;
    color: var(--cor1);
}


footer{
    display: flex;
    flex-direction: column;
}

footer div#menu{
    display: flex;
    justify-content: space-evenly;
    margin: 150px;
}

footer div.lista-menu{
    padding: 50px;
}

footer div.lista-menu h4{
    padding-bottom: 20px;
}

footer div.lista-menu ul li{
    list-style: none;
    padding-bottom: 10px;
}

footer div.lista-menu ul li a{
    text-decoration: none;
    color: rgb(71, 71, 71);
}

footer div#menu div#redes img{
    width: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

footer div#copyright{
    margin: 30px auto;
    text-align: center;
    font-size: 12px;
}